.cartMain {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.cartbody {
  position: absolute;
  left: 70%;
  background-color: green;
  right: 0;
  top: -720pt;
  width: 570px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
